.div-contenido{
	position: absolute;
	left: 50%;
	width: 800px;
	margin-left: -400px;
}
.div-contenedor{
	text-align: center;

}
.div-contenedor-img{
	margin-top: 10px;
	display: inline-block;	
}
img{
	width: 130px;
	height: 160px;
	margin: 5px;
}
.ocultar{
	display: none;
}